body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://raw.githubusercontent.com/sh3plife/MaryJarrett.com/main/340598_2763132877882_1365416375_o.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
